.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 700px;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 600px) and (max-width: 9999px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) and (max-width: 9999px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.root__state_metric {
  height: auto;
  width: auto;
  display: inline-flex;
}
.box__eh4J9 {
  height: 100%;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  align-self: center;
  min-height: 0;
  background: rgba(68, 192, 255, 0);
}
.box__eh4J9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__eh4J9 > :global(.__wab_flex-container) > *,
.box__eh4J9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .box__eh4J9 {
    align-self: flex-start;
  }
}
.box__state_metric__eh4J9AgOx5 {
  min-height: 308px;
  height: 100%;
}
.box___1MzIo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 117px;
  height: 117px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(68, 192, 255, 0);
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.avatar {
  position: relative;
  object-fit: cover;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
}
.box__zDUiC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 117px;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 2px;
  background: rgba(68, 192, 255, 0);
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.value {
  position: relative;
  width: 102px;
  height: 102px;
  font-size: 26px;
  text-align: center;
  align-self: center;
  padding-top: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.box__opwqh {
  display: block;
  position: relative;
  width: 3px;
  height: 30px;
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 0px;
  margin-left: 5px;
  flex-shrink: 0;
  background: linear-gradient(rgb(224, 224, 224), rgb(224, 224, 224))
    /* plasmic-token: T8wtml_ng, T8wtml_ng */;
}
.box__tXl0Y {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  align-self: flex-start;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 20px;
  background: linear-gradient(#ffffff, #ffffff)
    /* plasmic-token: byKqoWybG, byKqoWybG */;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.box__tXl0Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__tXl0Y > :global(.__wab_flex-container) > *,
.box__tXl0Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .box__tXl0Y {
    left: auto;
    top: auto;
  }
}
.box__state_metric__tXl0YagOx5 {
  align-self: flex-start;
}
.box__state_metric__tXl0YagOx5 > :global(.__wab_flex-container) {
  justify-content: space-evenly;
  align-items: flex-start;
}
.box__y5CAn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: rgba(68, 192, 255, 0);
}
.box__state_metric__y5CAnagOx5 {
  justify-content: flex-start;
  width: 531px;
  height: auto;
}
.textContainer {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 300;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
.textContainer__state_metric {
  width: 100%;
  min-width: 0;
}
.box__poHhz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: calc(10px + 10px) !important;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.box__state_metric__poHhzagOx5 {
  width: 100%;
  justify-content: space-between;
  height: auto;
  min-width: 0;
}
.box__pVRd7 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  align-self: flex-start;
  background: rgba(68, 192, 255, 0);
}
.box__pVRd7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__pVRd7 > :global(.__wab_flex-container) > *,
.box__pVRd7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box__state_metric__pVRd7AgOx5 {
  align-self: flex-end;
}
.svg__eBZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #323232;
  flex-shrink: 0;
}
.box___9JDn {
  display: flex;
  position: relative;
  border-radius: 50%;
  background: rgba(249, 249, 250, 0);
}
.box__state_ask___9JDn5WCo1 {
  width: auto;
  height: auto;
  align-self: center;
  align-items: center;
  display: inline-flex;
}
.box__x4KLb {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  align-self: flex-start;
  background: rgba(68, 192, 255, 0);
}
.box__x4KLb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__x4KLb > :global(.__wab_flex-container) > *,
.box__x4KLb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.svg__gJqjW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #323232;
  flex-shrink: 0;
}
.box__lxcgw {
  display: flex;
  position: relative;
  border-radius: 50%;
  background: rgba(249, 249, 250, 0);
}
