.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box__dOvJ {
  display: flex;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: abI2ZZBhG */;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding-left: 32px;
  padding-top: 23px;
  left: auto;
  top: auto;
  right: auto;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.box__xSqBc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  align-self: stretch;
  min-width: 0;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .box__xSqBc {
    max-width: 700px;
  }
}
.box__y9MC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 100%;
}
.img__e9Cf5 {
  position: relative;
  object-fit: cover;
  width: 23px;
  height: 15px;
  flex-shrink: 0;
}
.box___3Orej {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: 49px;
}
.img___6WBSl {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
  margin: 6px;
}
.box__kjy6N {
  font-weight: 700;
  position: relative;
  font-family: "PT Serif";
  font-size: 24px;
  align-self: auto;
  height: 33px;
  letter-spacing: 1px;
}
.box__xV84P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(68, 192, 255, 0);
  width: 72px;
  height: auto;
  flex-shrink: 0;
}
.organizationAvatar {
  position: relative;
  object-fit: cover;
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
}
.box__mZtc1 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotOrganizationName {
  font-weight: 500;
}
.box__wdt6N {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  bottom: auto;
  flex-direction: row;
  min-width: 0;
  border-right: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.box__h7MhH {
  display: flex;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: abI2ZZBhG */;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-left: 47px;
  padding-right: 15px;
  min-width: 0;
}
.box__h7MhH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.box__h7MhH > :global(.__wab_flex-container) > *,
.box__h7MhH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.box__jtcs0 {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  align-self: center;
  margin-top: calc(40px + 30px) !important;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  min-width: 0;
}
.box__jtcs0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box__jtcs0 > :global(.__wab_flex-container) > *,
.box__jtcs0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .box__jtcs0 {
    max-width: 700px;
  }
}
.metricContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: flex-start;
  margin-top: calc(30px + 0px) !important;
  margin-bottom: 20px;
  width: 100%;
  min-width: 0;
}
.metricContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.metricContainer > :global(.__wab_flex-container) > *,
.metricContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.metricContainer__userView_read {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
}
.metricContainer__userView_read > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.metricContainer__userView_read > :global(.__wab_flex-container) > *,
.metricContainer__userView_read
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 20px;
  margin-top: 20px;
}
.metric__dWvv8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .metric__dWvv8:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.metric__userView_read__dWvv8KYsYc:global(.__wab_instance) {
  flex-shrink: 0;
}
.metric__bmP1J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.metric__userView_read__bmP1JkYsYc:global(.__wab_instance) {
  flex-shrink: 0;
}
.metricItem {
  display: block;
  position: relative;
  background-color: #ffffff /* plasmic-token: byKqoWybG */;
  width: 700px;
  height: 150px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.metricItem__userView_read {
  left: auto;
  top: auto;
  width: 340px;
  flex-shrink: 0;
}
.box__t2VAk {
  position: absolute;
  left: 29px;
  top: 5px;
  font-size: 26px;
}
.box__xVwQy {
  position: absolute;
  left: 58px;
  top: 20px;
  color: rgb(2, 157, 127)
    /* plasmic-token: 95829f13-f277-4fc0-b32e-c612d4afe537 */;
  font-size: 12px;
}
.box__d8P7F {
  position: absolute;
  left: 32px;
  top: 49px;
  font-weight: 300;
  height: 14px;
}
.box__userView_read__d8P7FkYsYc {
  width: auto;
  height: auto;
  font-weight: 400;
  display: inline-block;
}
.metricGraph__n8TSv:global(.__wab_instance) {
  position: absolute;
  top: 78px;
  left: 0px;
}
.metricGraph__userView_read__n8TSvkYsYc:global(.__wab_instance) {
  top: 64px;
  width: 100%;
  height: auto;
  min-width: 0;
}
.metricItem2 {
  display: block;
  position: relative;
  background-color: #ffffff /* plasmic-token: byKqoWybG */;
  width: 700px;
  height: 150px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: T8wtml_ng */;
}
.metricItem2__userView_read {
  left: auto;
  top: auto;
  width: 340px;
  flex-shrink: 0;
}
.box__wfM3Z {
  position: absolute;
  left: 29px;
  top: 5px;
  font-size: 26px;
}
.box___4QaEj {
  position: absolute;
  left: 58px;
  top: 20px;
  color: rgb(2, 157, 127)
    /* plasmic-token: 95829f13-f277-4fc0-b32e-c612d4afe537 */;
  font-size: 12px;
}
.box__cTLrw {
  position: absolute;
  left: 32px;
  top: 49px;
  font-weight: 300;
  height: 14px;
}
.box__userView_read__cTLrwkYsYc {
  font-weight: 400;
  width: auto;
  height: auto;
  display: inline-block;
}
.metricGraph__om0W3:global(.__wab_instance) {
  position: absolute;
  top: 78px;
  left: 0px;
}
.metricGraph__userView_read__om0W3KYsYc:global(.__wab_instance) {
  top: 64px;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__m99Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  min-width: 0;
}
.composeUpdate:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__a6DmS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: calc(20px + 0px) !important;
  height: 56px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.actionBar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.actionBarSelectionContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 30px;
}
.actionBarSelectionContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.actionBarSelectionContainer > :global(.__wab_flex-container) > *,
.actionBarSelectionContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 10px;
}
.actionBarSelection__u7QOq:global(.__wab_instance) {
  position: relative;
}
.box__dzcwr {
  text-align: center;
}
.actionBarSelection__rtQT:global(.__wab_instance) {
  position: relative;
}
.box__h6A64 {
  height: auto;
  text-align: center;
}
.updatesContainer {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
}
.updatesContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.updatesContainer > :global(.__wab_flex-container) > *,
.updatesContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.update__xrspo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  align-self: flex-start;
  min-width: 0;
}
.update__jalDn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
