.loginEmail {
  display: flex;
  width: 174px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .loginEmail {
    position: relative;
  }
}
.loginEmail::placeholder {
  position: relative;
}
.loginEmail::placeholder {
  position: relative;
}
