.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  background: var(--token-W4gFmUIar);
}
@media (max-width: 767px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 767px) {
  .rootbuttonFeatures_nonFullWidth {
    width: auto;
    display: inline-flex;
  }
}
.root:focus-within {
  box-shadow: none;
  outline: none;
  border: 0px solid var(--token-W4gFmUIar);
}
.button {
  opacity: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  cursor: pointer;
  background: var(--token-Jfzps88GdGw80SE);
  border-radius: 5px;
  padding: 10px 15px;
  border-style: solid;
  border-color: var(--token-W4gFmUIar);
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    min-width: 0;
  }
}
.buttonbuttonStyle_primaryPurple {
  background: var(--token-pJ8JNfS_nOyDpci);
}
.buttonbuttonFeatures_removeText {
  min-width: 0px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .buttonbuttonFeatures_nonFullWidth {
    width: auto;
  }
}
.buttonisDisabled {
  opacity: 0.5;
}
.buttonbuttonStyle_secondaryPurple {
  background: none;
  border: 1px solid var(--token-pJ8JNfS_nOyDpci);
}
.buttonbuttonStyle_secondaryGreen {
  background: var(--token-sm1UmsjMUgvPdL9);
  border: 1px solid var(--token-Jfzps88GdGw80SE);
}
.buttonbuttonStyle_danger {
  background: var(--token-sm1UmsjMUgvPdL9);
  border: 1px solid var(--token-NYSf9tLZvxevghS);
}
.buttonbuttonStyle_whiteBlue {
  box-shadow: 2px 2px 4px 1px rgba(221, 220, 220, 0.5);
  background: var(--token-sm1UmsjMUgvPdL9);
  border-width: 1px;
  border-color: var(--token-9--4ZPcisViPq8V);
}
.buttonbuttonFeatures_isRounded {
  border-radius: 30px;
}
.root:hover .button {
  background: var(--token-UlVSoc2FV);
}
.rootbuttonStyle_primaryPurple:hover .buttonbuttonStyle_primaryPurple {
  background: var(--token-BQ77SKZJQ);
}
.rootbuttonStyle_secondaryPurple:hover .buttonbuttonStyle_secondaryPurple {
  background: var(--token-RvvnSEjNc);
}
.rootbuttonStyle_secondaryGreen:hover .buttonbuttonStyle_secondaryGreen {
  background: rgba(20, 220, 152, 0.06);
}
.rootbuttonStyle_danger:hover .buttonbuttonStyle_danger {
  background: var(--token-NYSf9tLZvxevghS);
}
.rootbuttonStyle_whiteBlue:hover .buttonbuttonStyle_whiteBlue {
  background: var(--token-sm1UmsjMUgvPdL9);
}
.rootisDisabled_buttonStyle_primaryPurple:hover
  .buttonisDisabled_buttonStyle_primaryPurple {
  background: var(--token-pJ8JNfS_nOyDpci);
}
.root:focus-within .button {
  outline: none;
}
.rootisDisabled:focus-within .buttonisDisabled {
  background: var(--token-Jfzps88GdGw80SE);
  outline: none;
}
.rootisDisabled_buttonStyle_primaryPurple:focus-within
  .buttonisDisabled_buttonStyle_primaryPurple {
  outline: none;
}
.root .button:focus-within {
  outline: none;
}
.freeBox {
  display: flex;
  position: relative;
  opacity: 1;
  top: auto;
  left: auto;
  width: auto;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
}
.freeBox > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.root:focus-within .freeBox {
  outline: none;
}
.slotTargetSlotbuttonFeatures_showStartIcon {
  color: var(--token-sm1UmsjMUgvPdL9);
}
.slotTargetSlotbuttonFeatures_showStartIcon_buttonStyle_danger {
  color: var(--token-NYSf9tLZvxevghS);
}
.slotTargetSlotbuttonFeatures_showStartIcon_buttonStyle_secondaryPurple {
  color: var(--token-pJ8JNfS_nOyDpci);
}
.slotTargetSlotbuttonFeatures_showStartIcon_buttonStyle_secondaryGreen {
  color: var(--token-Jfzps88GdGw80SE);
}
.svg__vdEop {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
  flex-shrink: 0;
}
.slotTargetCount {
  font-size: var(--token-mV0JUhpGq);
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotTargetCount > .__wab_text,
.slotTargetCount > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_text,
.slotTargetCount > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetCount
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.slotTargetCountbuttonStyle_secondaryPurple {
  color: var(--token-pJ8JNfS_nOyDpci);
}
.slotTargetCountbuttonStyle_secondaryGreen {
  color: var(--token-Jfzps88GdGw80SE);
}
.slotTargetCountbuttonStyle_danger {
  color: var(--token-NYSf9tLZvxevghS);
}
.slotTargetCountbuttonFeatures_isRounded {
  font-size: var(--token-nh1PV_1Nt);
}
.rootbuttonStyle_danger:hover .slotTargetCountbuttonStyle_danger {
  color: var(--token-sm1UmsjMUgvPdL9);
}
.slotTargetText2 {
  font-size: var(--token-mV0JUhpGq);
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotTargetText2 > .__wab_text,
.slotTargetText2 > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
@media (max-width: 767px) {
  .slotTargetText2 {
    font-size: var(--token-mV0JUhpGq);
  }
}
.slotTargetText2buttonStyle_secondaryPurple {
  color: var(--token-pJ8JNfS_nOyDpci);
}
.slotTargetText2buttonStyle_secondaryGreen {
  color: var(--token-Jfzps88GdGw80SE);
}
.slotTargetText2buttonStyle_danger {
  color: var(--token-NYSf9tLZvxevghS);
}
.slotTargetText2buttonStyle_whiteBlue {
  color: var(--token-IfaVHQ1Yp);
}
.slotTargetText2buttonFeatures_isRounded {
  font-size: var(--token-nh1PV_1Nt);
}
.rootbuttonStyle_danger:hover .slotTargetText2buttonStyle_danger {
  color: var(--token-sm1UmsjMUgvPdL9);
}
.slotTargetChildrenbuttonFeatures_showEndIcon {
  color: var(--token-sm1UmsjMUgvPdL9);
}
.slotTargetChildrenbuttonFeatures_showEndIcon_buttonStyle_secondaryGreen {
  color: var(--token-Jfzps88GdGw80SE);
}
.slotTargetChildrenbuttonFeatures_showEndIcon_buttonStyle_danger {
  color: var(--token-NYSf9tLZvxevghS);
}
.slotTargetChildrenbuttonFeatures_showEndIcon_buttonStyle_secondaryPurple {
  color: var(--token-pJ8JNfS_nOyDpci);
}
.svg___85Aov {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
  flex-shrink: 0;
}
