@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-pJ8JNfS_nOyDpci: rgb(38, 26, 63);
  --plasmic-token-venture-purple: var(--token-pJ8JNfS_nOyDpci);
  --token-Jfzps88GdGw80SE: #2e8c8d;
  --plasmic-token-venture-green: var(--token-Jfzps88GdGw80SE);
  --token-rRGbAykiK: rgb(169, 54, 109);
  --plasmic-token-venture-orchid: var(--token-rRGbAykiK);
  --token--HFpQ8buqDPo5dp: rgb(247, 177, 41);
  --plasmic-token-venture-gold: var(--token--HFpQ8buqDPo5dp);
  --token-NYSf9tLZvxevghS: rgb(218, 36, 82);
  --plasmic-token-error-red: var(--token-NYSf9tLZvxevghS);
  --token-xsIYHQwoE: rgb(88, 176, 113);
  --plasmic-token-success-green: var(--token-xsIYHQwoE);
  --token-IfaVHQ1Yp: rgb(46, 129, 184);
  --plasmic-token-blue: var(--token-IfaVHQ1Yp);
  --token-1C_cuVvze: rgb(117, 124, 135);
  --plasmic-token-body-grey: var(--token-1C_cuVvze);
  --token-gYMfVVYI5: rgb(187, 187, 187);
  --plasmic-token-placeholder-text-grey: var(--token-gYMfVVYI5);
  --token-9--4ZPcisViPq8V: rgb(224, 224, 224);
  --plasmic-token-border-grey: var(--token-9--4ZPcisViPq8V);
  --token-4lM47qJruvPIx-u: rgb(249, 249, 250);
  --plasmic-token-background-grey: var(--token-4lM47qJruvPIx-u);
  --token-sm1UmsjMUgvPdL9: #ffffff;
  --plasmic-token-white: var(--token-sm1UmsjMUgvPdL9);
  --token-tJrnuXK4CXv7Nvo: rgba(21, 15, 36, 0.73);
  --plasmic-token-black: var(--token-tJrnuXK4CXv7Nvo);
  --token-W4gFmUIar: rgba(255, 255, 255, 0);
  --plasmic-token-transparent: var(--token-W4gFmUIar);
  --token-lwU_HL5JBOkJ3g0: rgba(38, 26, 63, 0.7);
  --plasmic-token-venture-purple-disabled: var(--token-lwU_HL5JBOkJ3g0);
  --token-BQ77SKZJQ: rgb(56, 31, 86);
  --plasmic-token-venture-purple-hover: var(--token-BQ77SKZJQ);
  --token-RvvnSEjNc: rgba(74, 40, 112, 0.05);
  --plasmic-token-venture-purple-secondary-hover: var(--token-RvvnSEjNc);
  --token-ktdOhSoiQwPKRUS: rgba(2, 157, 127, 0.7);
  --plasmic-token-venture-green-disabled: var(--token-ktdOhSoiQwPKRUS);
  --token-UlVSoc2FV: #137c7d;
  --plasmic-token-venture-green-hover: var(--token-UlVSoc2FV);
  --token-u3JIt-BuU8GbDfJ: rgba(38, 26, 63, 0.1);
  --plasmic-token-icon-focused: var(--token-u3JIt-BuU8GbDfJ);
  --token-FIRwevmQQ: 60px;
  --plasmic-token-fs-xxlarge: var(--token-FIRwevmQQ);
  --token-Qk0u9kQTC: 42px;
  --plasmic-token-fs-xlarge: var(--token-Qk0u9kQTC);
  --token-mXYe0t8Ye: 30px;
  --plasmic-token-fs-h-1: var(--token-mXYe0t8Ye);
  --token-TujpjiAsC: 26px;
  --plasmic-token-fs-h-2: var(--token-TujpjiAsC);
  --token-y8zaQOVwJ: 22px;
  --plasmic-token-fs-h-3: var(--token-y8zaQOVwJ);
  --token-UFZg3bUaA: 18px;
  --plasmic-token-fs-h-4: var(--token-UFZg3bUaA);
  --token-mV0JUhpGq: 15px;
  --plasmic-token-fs-body: var(--token-mV0JUhpGq);
  --token-nh1PV_1Nt: 14px;
  --plasmic-token-fs-body-sm: var(--token-nh1PV_1Nt);
  --token-LxqIZc9hM: 12px;
  --plasmic-token-fs-body-xs: var(--token-LxqIZc9hM);
  --token-5hSVea-ed: 5px;
  --plasmic-token-icon-spacing: var(--token-5hSVea-ed);
  --token-FMrtJGj8f: rgb(231, 231, 236);
  --plasmic-token-hover-grey: var(--token-FMrtJGj8f);
  --token-FUdlAiLJB: 10px;
  --plasmic-token-fs-micro: var(--token-FUdlAiLJB);
  --token-56n5925l5: rgb(218, 36, 82);
  --plasmic-token-unnamed-style-token: var(--token-56n5925l5);
  --token-LnDrlzWI_: rgb(56, 31, 86);
  --plasmic-token-unnamed-style-token-2: var(--token-LnDrlzWI_);
  --token-4LaooeLwj: 10px;
  --plasmic-token-padding-10: var(--token-4LaooeLwj);
  --token-dS7QCqXxp: 20px;
  --plasmic-token-mobile-container-20: var(--token-dS7QCqXxp);
  --token-XraHK0yKz: 40px;
  --plasmic-token-container-40: var(--token-XraHK0yKz);
  --token-lzdxoc8dE: 0.7;
  --plasmic-token-disabled: var(--token-lzdxoc8dE);
  --token-s9dM2WJj_: #443d5e;
  --plasmic-token-2-e-283-c: var(--token-s9dM2WJj_);
  --token-n8KTEVsp0: #373050;
  --plasmic-token-sidebar-item-hover: var(--token-n8KTEVsp0);
  --token-BaG1znF2a: #df9999;
  --plasmic-token-unnamed-style-token-4: var(--token-BaG1znF2a);
  --token-N-EXuABtY: #aea5ce;
  --plasmic-token-action-bar-border: var(--token-N-EXuABtY);
  --token-QjV0Jke_u: #877ab7;
  --plasmic-token-action-bar-active-border: var(--token-QjV0Jke_u);
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-jPsYUDLiHgau7zW_font-family: "Poppins";
  --mixin-jPsYUDLiHgau7zW_font-size: var(--token-mV0JUhpGq);
  --mixin-jPsYUDLiHgau7zW_font-weight: normal;
  --mixin-jPsYUDLiHgau7zW_font-style: normal;
  --mixin-jPsYUDLiHgau7zW_color: var(--token-pJ8JNfS_nOyDpci);
  --mixin-jPsYUDLiHgau7zW_text-align: left;
  --mixin-jPsYUDLiHgau7zW_text-transform: none;
  --mixin-jPsYUDLiHgau7zW_line-height: 1.5;
  --mixin-jPsYUDLiHgau7zW_letter-spacing: normal;
  --mixin-jPsYUDLiHgau7zW_white-space: pre-wrap;
  --mixin-jPsYUDLiHgau7zW_user-select: text;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-h2nCu9xAW_box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  --plasmic-mixin-dropd-shadow-container_box-shadow: var(
    --mixin-h2nCu9xAW_box-shadow
  );
  --mixin-rv1zePK9l_box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-drop-shadow_box-shadow: var(--mixin-rv1zePK9l_box-shadow);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-jPsYUDLiHgau7zW_font-family);
  font-size: var(--mixin-jPsYUDLiHgau7zW_font-size);
  font-weight: var(--mixin-jPsYUDLiHgau7zW_font-weight);
  font-style: var(--mixin-jPsYUDLiHgau7zW_font-style);
  color: var(--mixin-jPsYUDLiHgau7zW_color);
  text-align: var(--mixin-jPsYUDLiHgau7zW_text-align);
  text-transform: var(--mixin-jPsYUDLiHgau7zW_text-transform);
  line-height: var(--mixin-jPsYUDLiHgau7zW_line-height);
  letter-spacing: var(--mixin-jPsYUDLiHgau7zW_letter-spacing);
  white-space: var(--mixin-jPsYUDLiHgau7zW_white-space);
}
