.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.radio {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  align-self: flex-start;
  cursor: pointer;
  min-width: 0;
  padding: var(--token-4LaooeLwj);
  border: 1px solid var(--token-9--4ZPcisViPq8V);
}
.radio > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.radio > :global(.__wab_flex-container) > *,
.radio > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.radio > :global(.__wab_flex-container) > picture > img,
.radio > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.radioposition_top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.radioposition_middle {
  border-top-color: var(--token-W4gFmUIar);
  border-bottom-color: var(--token-W4gFmUIar);
  border-right-color: var(--token-9--4ZPcisViPq8V);
  border-left-color: var(--token-9--4ZPcisViPq8V);
  border-width: 1px;
}
.radioposition_bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.radioradioVariants_isSelected {
  border-color: var(--token-xsIYHQwoE);
}
.radioradioVariants_isDisabled {
  opacity: var(--token-lzdxoc8dE);
}
.radioradioVariants_isSelected_position_middle {
  border-width: 1px;
  border-color: var(--token-xsIYHQwoE);
}
.root .radio___focusVisibleWithin {
  outline: none;
  border-color: var(--token-IfaVHQ1Yp);
}
.labelContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 85%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.labelContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.labelContainer > :global(.__wab_flex-container) > *,
.labelContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labelContainer > :global(.__wab_flex-container) > picture > img,
.labelContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.label {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
  min-width: 0;
}
.slotTargetChildren {
  text-align: center;
  font-size: var(--token-mV0JUhpGq);
  font-weight: 600;
}
.inputHelperText {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.slotTargetHelperText {
  color: var(--token-1C_cuVvze);
  font-weight: 300;
  font-size: var(--token-nh1PV_1Nt);
}
.buttonContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.buttonContainerradioVariants_isSelected {
  width: 40px;
  flex-shrink: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 44px;
  flex-shrink: 0;
}
.svgradioVariants_isSelected {
  color: var(--token-xsIYHQwoE);
}
