.root {
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
}
.container {
  flex-direction: row;
  display: flex;
  position: relative;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.slotTargetChildren {
  color: var(--token-56n5925l5);
}
.svg__eqR5W {
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.slotTargetMessage {
  font-size: var(--token-nh1PV_1Nt);
  font-weight: 300;
  color: var(--token-NYSf9tLZvxevghS);
}
