@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token--HqbJ_SP90iHZ: 1.5;
  --plasmic-token-unnamed-style-token: var(--token--HqbJ_SP90iHZ);
  --token-tHVf1iLFLzMOD: 0px;
  --plasmic-token-row: var(--token-tHVf1iLFLzMOD);
  --token-0TKddciwmEaaX: #fafaf9;
  --plasmic-token-landing-bg-grey: var(--token-0TKddciwmEaaX);
  --token-qfj-j-y5HaJXx: 20px;
  --plasmic-token-20-px: var(--token-qfj-j-y5HaJXx);
}

.plasmic_default_styles {
  --mixin-XlpBvTCFtukHV_font-family: "Poppins";
  --mixin-XlpBvTCFtukHV_font-size: var(--token-UFZg3bUaA);
  --mixin-XlpBvTCFtukHV_font-weight: 400;
  --mixin-XlpBvTCFtukHV_font-style: normal;
  --mixin-XlpBvTCFtukHV_color: var(--token-1C_cuVvze);
  --mixin-XlpBvTCFtukHV_text-align: left;
  --mixin-XlpBvTCFtukHV_text-transform: none;
  --mixin-XlpBvTCFtukHV_line-height: 1.5;
  --mixin-XlpBvTCFtukHV_letter-spacing: normal;
  --mixin-XlpBvTCFtukHV_white-space: pre-wrap;
  --mixin-XlpBvTCFtukHV_user-select: text;
  --mixin-XlpBvTCFtukHV_text-decoration-line: none;
  --mixin-XlpBvTCFtukHV_text-overflow: clip;
  --mixin-5eN98HEEXggYy_font-family: "Inter";
  --mixin-5eN98HEEXggYy_color: #000000;
  --mixin-5eN98HEEXggYy_font-size: 20px;
  --mixin-5eN98HEEXggYy_font-weight: 600;
  --mixin-5eN98HEEXggYy_letter-spacing: -0.3px;
  --mixin-5eN98HEEXggYy_line-height: 1.5;
  --mixin-blzZ_SqUhc2Aa_font-family: "Inter";
  --mixin-blzZ_SqUhc2Aa_color: #000000;
  --mixin-blzZ_SqUhc2Aa_font-size: 16px;
  --mixin-blzZ_SqUhc2Aa_font-weight: 600;
  --mixin-blzZ_SqUhc2Aa_line-height: 1.5;
  --mixin-g0KYozOXqsUZP_border-left-color: #dddddd;
  --mixin-g0KYozOXqsUZP_border-left-style: solid;
  --mixin-g0KYozOXqsUZP_border-left-width: 3px;
  --mixin-g0KYozOXqsUZP_color: #888888;
  --mixin-g0KYozOXqsUZP_padding-left: 10px;
  --mixin-zJabNswgRQ-xE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zJabNswgRQ-xE_border-bottom-color: #dddddd;
  --mixin-zJabNswgRQ-xE_border-bottom-style: solid;
  --mixin-zJabNswgRQ-xE_border-bottom-width: 1px;
  --mixin-zJabNswgRQ-xE_border-left-color: #dddddd;
  --mixin-zJabNswgRQ-xE_border-left-style: solid;
  --mixin-zJabNswgRQ-xE_border-left-width: 1px;
  --mixin-zJabNswgRQ-xE_border-right-color: #dddddd;
  --mixin-zJabNswgRQ-xE_border-right-style: solid;
  --mixin-zJabNswgRQ-xE_border-right-width: 1px;
  --mixin-zJabNswgRQ-xE_border-top-color: #dddddd;
  --mixin-zJabNswgRQ-xE_border-top-style: solid;
  --mixin-zJabNswgRQ-xE_border-top-width: 1px;
  --mixin-zJabNswgRQ-xE_border-bottom-left-radius: 3px;
  --mixin-zJabNswgRQ-xE_border-bottom-right-radius: 3px;
  --mixin-zJabNswgRQ-xE_border-top-left-radius: 3px;
  --mixin-zJabNswgRQ-xE_border-top-right-radius: 3px;
  --mixin-zJabNswgRQ-xE_font-family: "Inconsolata";
  --mixin-zJabNswgRQ-xE_padding-bottom: 1px;
  --mixin-zJabNswgRQ-xE_padding-left: 4px;
  --mixin-zJabNswgRQ-xE_padding-right: 4px;
  --mixin-zJabNswgRQ-xE_padding-top: 1px;
  --mixin-hoeYsC3k9Nscz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hoeYsC3k9Nscz_border-bottom-color: #dddddd;
  --mixin-hoeYsC3k9Nscz_border-bottom-style: solid;
  --mixin-hoeYsC3k9Nscz_border-bottom-width: 1px;
  --mixin-hoeYsC3k9Nscz_border-left-color: #dddddd;
  --mixin-hoeYsC3k9Nscz_border-left-style: solid;
  --mixin-hoeYsC3k9Nscz_border-left-width: 1px;
  --mixin-hoeYsC3k9Nscz_border-right-color: #dddddd;
  --mixin-hoeYsC3k9Nscz_border-right-style: solid;
  --mixin-hoeYsC3k9Nscz_border-right-width: 1px;
  --mixin-hoeYsC3k9Nscz_border-top-color: #dddddd;
  --mixin-hoeYsC3k9Nscz_border-top-style: solid;
  --mixin-hoeYsC3k9Nscz_border-top-width: 1px;
  --mixin-hoeYsC3k9Nscz_border-bottom-left-radius: 3px;
  --mixin-hoeYsC3k9Nscz_border-bottom-right-radius: 3px;
  --mixin-hoeYsC3k9Nscz_border-top-left-radius: 3px;
  --mixin-hoeYsC3k9Nscz_border-top-right-radius: 3px;
  --mixin-hoeYsC3k9Nscz_font-family: "Inconsolata";
  --mixin-hoeYsC3k9Nscz_padding-bottom: 3px;
  --mixin-hoeYsC3k9Nscz_padding-left: 6px;
  --mixin-hoeYsC3k9Nscz_padding-right: 6px;
  --mixin-hoeYsC3k9Nscz_padding-top: 3px;
  --mixin-RPoTLU--A-quK_display: flex;
  --mixin-RPoTLU--A-quK_flex-direction: column;
  --mixin-RPoTLU--A-quK_align-items: stretch;
  --mixin-RPoTLU--A-quK_justify-content: flex-start;
  --mixin-RPoTLU--A-quK_list-style-position: outside;
  --mixin-RPoTLU--A-quK_padding-left: 40px;
  --mixin-RPoTLU--A-quK_position: relative;
  --mixin-RPoTLU--A-quK_list-style-type: decimal;
  --mixin-gAWj5P0iZI0ra_display: flex;
  --mixin-gAWj5P0iZI0ra_flex-direction: column;
  --mixin-gAWj5P0iZI0ra_align-items: stretch;
  --mixin-gAWj5P0iZI0ra_justify-content: flex-start;
  --mixin-gAWj5P0iZI0ra_list-style-position: outside;
  --mixin-gAWj5P0iZI0ra_padding-left: 40px;
  --mixin-gAWj5P0iZI0ra_position: relative;
  --mixin-gAWj5P0iZI0ra_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-XlpBvTCFtukHV_font-family);
  font-size: var(--mixin-XlpBvTCFtukHV_font-size);
  font-weight: var(--mixin-XlpBvTCFtukHV_font-weight);
  font-style: var(--mixin-XlpBvTCFtukHV_font-style);
  color: var(--mixin-XlpBvTCFtukHV_color);
  text-align: var(--mixin-XlpBvTCFtukHV_text-align);
  text-transform: var(--mixin-XlpBvTCFtukHV_text-transform);
  line-height: var(--mixin-XlpBvTCFtukHV_line-height);
  letter-spacing: var(--mixin-XlpBvTCFtukHV_letter-spacing);
  white-space: var(--mixin-XlpBvTCFtukHV_white-space);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-5eN98HEEXggYy_font-family);
  color: var(--mixin-5eN98HEEXggYy_color);
  font-size: var(--mixin-5eN98HEEXggYy_font-size);
  font-weight: var(--mixin-5eN98HEEXggYy_font-weight);
  letter-spacing: var(--mixin-5eN98HEEXggYy_letter-spacing);
  line-height: var(--mixin-5eN98HEEXggYy_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-blzZ_SqUhc2Aa_font-family);
  color: var(--mixin-blzZ_SqUhc2Aa_color);
  font-size: var(--mixin-blzZ_SqUhc2Aa_font-size);
  font-weight: var(--mixin-blzZ_SqUhc2Aa_font-weight);
  line-height: var(--mixin-blzZ_SqUhc2Aa_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-g0KYozOXqsUZP_color);
  padding-left: var(--mixin-g0KYozOXqsUZP_padding-left);
  border-left: var(--mixin-g0KYozOXqsUZP_border-left-width)
    var(--mixin-g0KYozOXqsUZP_border-left-style)
    var(--mixin-g0KYozOXqsUZP_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-zJabNswgRQ-xE_background);
  font-family: var(--mixin-zJabNswgRQ-xE_font-family);
  border-radius: var(--mixin-zJabNswgRQ-xE_border-top-left-radius)
    var(--mixin-zJabNswgRQ-xE_border-top-right-radius)
    var(--mixin-zJabNswgRQ-xE_border-bottom-right-radius)
    var(--mixin-zJabNswgRQ-xE_border-bottom-left-radius);
  padding: var(--mixin-zJabNswgRQ-xE_padding-top)
    var(--mixin-zJabNswgRQ-xE_padding-right)
    var(--mixin-zJabNswgRQ-xE_padding-bottom)
    var(--mixin-zJabNswgRQ-xE_padding-left);
  border-top: var(--mixin-zJabNswgRQ-xE_border-top-width)
    var(--mixin-zJabNswgRQ-xE_border-top-style)
    var(--mixin-zJabNswgRQ-xE_border-top-color);
  border-right: var(--mixin-zJabNswgRQ-xE_border-right-width)
    var(--mixin-zJabNswgRQ-xE_border-right-style)
    var(--mixin-zJabNswgRQ-xE_border-right-color);
  border-bottom: var(--mixin-zJabNswgRQ-xE_border-bottom-width)
    var(--mixin-zJabNswgRQ-xE_border-bottom-style)
    var(--mixin-zJabNswgRQ-xE_border-bottom-color);
  border-left: var(--mixin-zJabNswgRQ-xE_border-left-width)
    var(--mixin-zJabNswgRQ-xE_border-left-style)
    var(--mixin-zJabNswgRQ-xE_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-hoeYsC3k9Nscz_background);
  font-family: var(--mixin-hoeYsC3k9Nscz_font-family);
  border-radius: var(--mixin-hoeYsC3k9Nscz_border-top-left-radius)
    var(--mixin-hoeYsC3k9Nscz_border-top-right-radius)
    var(--mixin-hoeYsC3k9Nscz_border-bottom-right-radius)
    var(--mixin-hoeYsC3k9Nscz_border-bottom-left-radius);
  padding: var(--mixin-hoeYsC3k9Nscz_padding-top)
    var(--mixin-hoeYsC3k9Nscz_padding-right)
    var(--mixin-hoeYsC3k9Nscz_padding-bottom)
    var(--mixin-hoeYsC3k9Nscz_padding-left);
  border-top: var(--mixin-hoeYsC3k9Nscz_border-top-width)
    var(--mixin-hoeYsC3k9Nscz_border-top-style)
    var(--mixin-hoeYsC3k9Nscz_border-top-color);
  border-right: var(--mixin-hoeYsC3k9Nscz_border-right-width)
    var(--mixin-hoeYsC3k9Nscz_border-right-style)
    var(--mixin-hoeYsC3k9Nscz_border-right-color);
  border-bottom: var(--mixin-hoeYsC3k9Nscz_border-bottom-width)
    var(--mixin-hoeYsC3k9Nscz_border-bottom-style)
    var(--mixin-hoeYsC3k9Nscz_border-bottom-color);
  border-left: var(--mixin-hoeYsC3k9Nscz_border-left-width)
    var(--mixin-hoeYsC3k9Nscz_border-left-style)
    var(--mixin-hoeYsC3k9Nscz_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-RPoTLU--A-quK_display);
  flex-direction: var(--mixin-RPoTLU--A-quK_flex-direction);
  align-items: var(--mixin-RPoTLU--A-quK_align-items);
  justify-content: var(--mixin-RPoTLU--A-quK_justify-content);
  list-style-position: var(--mixin-RPoTLU--A-quK_list-style-position);
  padding-left: var(--mixin-RPoTLU--A-quK_padding-left);
  position: var(--mixin-RPoTLU--A-quK_position);
  list-style-type: var(--mixin-RPoTLU--A-quK_list-style-type);
  flex-column-gap: var(--mixin-RPoTLU--A-quK_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-gAWj5P0iZI0ra_display);
  flex-direction: var(--mixin-gAWj5P0iZI0ra_flex-direction);
  align-items: var(--mixin-gAWj5P0iZI0ra_align-items);
  justify-content: var(--mixin-gAWj5P0iZI0ra_justify-content);
  list-style-position: var(--mixin-gAWj5P0iZI0ra_list-style-position);
  padding-left: var(--mixin-gAWj5P0iZI0ra_padding-left);
  position: var(--mixin-gAWj5P0iZI0ra_position);
  list-style-type: var(--mixin-gAWj5P0iZI0ra_list-style-type);
  flex-column-gap: var(--mixin-gAWj5P0iZI0ra_flex-column-gap);
}
